body{
    background-color: rgb(32, 19, 61);
    padding-bottom: 100px;
}

.container_Curriculum{
    height: 164vh;
    width: 1090px;
    background-color: rgb(49, 30, 87);
    overflow: hidden;
    position: relative;
    left: 12%;
    top: 40px;
    box-shadow: 2px 2px 20px 9px rgba(0,0,0, 0.4);
}